<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HMS Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Mahesh/IdeaProjects/HRM-Project">
        <classes>
            <class name="testCases.TC_01_validateHomePage"></class>
            <class name="testCases.TC_02_validateAdminLoginPage"></class>
            <class name="testCases.TC_03_validateDashboardPage"></class>
            <class name="testCases.TC_04_validateDoctorPage"></class>
            <class name="testCases.TC_05_validateUsers"></class>
            <class name="testCases.TC_06_validatePatientsPage"></class>
            <class name="testCases.TC_07_AppointmentHistory"></class>
            <class name="testCases.TC_08_ValidateReportPage"></class>
            <class name="testCases.TC_09_ValidatePatientSearchPage"></class>
        </classes>
    </test>
</suite>